body {
  margin: 0px;
  padding: 0px;
}
nav {
  display: flex;
  background-color: #22a6b3;
  font-family: "Big Shoulders Stencil Text", cursive;
  width: auto;
}
#logo {
  padding: 10px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
#logo:hover {
  transition: 1s;
  transform: rotate(360deg);
}
nav p {
  cursor: pointer;
  padding: 0px 30px;
  margin-left: 100px;
  font-size: 20px;
}
nav select {
  cursor: pointer;
  padding: 0;
  margin-bottom: 5px;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: 20px;
  border: none;
  background-color: #22a6b3;
}
#search {
  margin: 20px 10px;
  padding: 0px 50px;
  border: none;
  border-radius: 30px;
}
#searchbtn {
  padding: 0px 20px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-family: "Big Shoulders Stencil Text", cursive;
  margin: 20px 0px;
}
#searchbtn:hover {
  transition: 0.5s;
  color: white;
  box-shadow: inset 100px 0px 0px 0px#4a69bd;
}
.poster {
  height: 200px;
  margin: 0px 10px;
}
#container {
  color: white;
  font-family: "Big Shoulders Stencil Text", cursive;
  padding: 20px 0px 0px 50px;
  background-color: #222f3e;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.card {
  width: 300px;
}
.card .classic:hover {
  transition: 400ms;
  transform: scale(1.2);
  box-shadow: 1px 1px 5px 0.5px black;
}
.classic {
  display: flex;
}
.view {
  font-family: "Big Shoulders Stencil Text", cursive;
  color: white;
  background-color: #22a6b3;
  border: none;
  border-radius: 5px;
}
.view:hover {
  background-color: #4a69bd;
}
@media screen and (max-width:950px){
  #container {
    color: white;
    font-family: "Big Shoulders Stencil Text", cursive;
    padding: 20px 0px 0px 50px;
    background-color: #222f3e;
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 10px;
    
  }
  nav p {
    cursor: pointer;
    padding: 0px 0px;
    margin: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width:650px){
  #container {
    color: white;
    font-family: "Big Shoulders Stencil Text", cursive;
    padding: 20px 0px 0px 50px;
    background-color: #222f3e;
    display: grid;
    grid-template-columns:auto;
    grid-gap: 10px;
  }
  nav p {
    cursor: pointer;
    padding: 0px 0px;
    margin: 20px;
    font-size: 20px;
    display: none;
  }
  h1{
    display: none;
  }
  h1::before{
   content: "AG";
  }
  .about p{
    font-size: 15px;
    margin: 5px;
  }
  h3{
    font-size: 15px;
  }
  
}
@media screen and (max-width:600px) {
  #search {
    margin: 15px;
    padding: 0px ;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 30px;
  }
  #searchbtn {
    padding: 0px 10px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Big Shoulders Stencil Text", cursive;
    margin: 20px 0px;
  }
  .card {
    width: 200px;
  }
  .poster {
    height: 100px;
    margin: 0px 10px;
  }
  #logo {
    padding: 10px;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    margin: auto;
  }
}
